
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Icons
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
	margin: 0;
}

.navbar {
	padding: 0;
}

.navbar-expand .navbar-nav .nav-link {
	padding: 1rem;
}

@media (max-width: 991.98px) {
	body {
		font-size: 1rem;
	}  
	.navbar {
		font-size: 2rem;
	}
	
	.navbar-expand .navbar-nav .nav-link {
		padding: 2.5rem;
	}
	
	body #nav-header a.active {
		border-bottom: 10px solid white;
	}
	.navbar .material-icons {
		font-size: 3.5rem;
	}
}

.ksvuefp-section {
	display: flex;
	min-height: 100%;
	justify-content: center;
	align-items: center; h2 { text-align : center;
	color: white;
}

}
.fade-enter-active, .fade-leave-active {
	transition: all .5s;
	opacity: 1;
}

.fade-enter, .fade-leave-active {
	opacity: 0;
}

.carousel-3d-container figcaption {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	bottom: 0;
	position: absolute;
	bottom: 0;
	padding: 15px;
	font-size: 12px;
	min-width: 100%;
	box-sizing: border-box;
}

a:active, a:focus {
	outline: 0;
	border: none;
	-moz-outline-style: none;
}

/* #nav-header a.active { */
/* 	border-bottom-width: 5px; */
/* 	border-bottom-style: solid; */
/* 	border-bottom-color: #fff; */
/* } */
#nav-header a {
	border-right: 2px solid #2a2a2e;
}

#nav-header .white a {
	background-color: #9a9da0;
	color: #343a40;
}

#nav-header a.active {
    display: flex;
    align-items: center;
/*     border-bottom: 5px solid white; */
    box-shadow: 0px -5px 0px -2px white inset;
    
}
/*
#nav-header a.active span {
	position: absolute;
	top: 51px;
    content:"";
    width: 50px;
    flex: 1 1 auto;
    border-top: 5px solid #fff;
}
*/

#nav-header a.active {
	
}